<section class="container col-md-offset-2">
  <div class="row">
    <div class="col-md-9 col-xs-12">
      <h2>Albums</h2>
    </div>
  </div>

  <div class="row search-bar">
    <div class="col-md-9 col-xs-12">
      <ul class="list-group">
        <li class="list-group-item">
          <label>Search: <input type="text" ng-model="searchBy"/></label>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-xs-12">
      <h3 ng-click='addNew = !addNew'>Add New Album</h3>
      <ul class="list-group">
        <form ng-show='addNew' ng-submit="albums.createAlbum();">
          <li class="list-group-item">
            <label>Album Name:</label><input type="text" class="form-control" ng-model="albums.newAlbum.name"/>
          </li>

          <li class="list-group-item">
            <label>Album Artist:</label><input type="text" class="form-control" ng-model="albums.newAlbum.artistName"/>
          </li>

          <li class="list-group-item">
            <label>Released Date:</label><input type="text" class="form-control" placeholder="yyyy, month dd" ng-model="albums.newAlbum.releaseDate">
          </li>

          <li class="list-group-item">
            <label>Album Genres (separated by commas):</label><input type="text" class="form-control" ng-model="albums.newAlbum.genres">
          </li>

          <li class="list-group-item buttons-row">
            <input class='btn btn-success' type="submit" value="Submit">
          </li>
        </form>
      </ul>
    </div>
  </div>
  
  <div ng-repeat="album in albums.albumsList | orderBy: null | filter:searchBy">
    <div class='row'>
      <!-- <div class="col-md-3 col-xs-12 thumbnail album-art">
        <img src="images/800x800.png" alt="album image">
      </div> -->

      <div class="col-md-9 col-xs-12">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class='inline-header'>Album Name:</h4>
            <span ng-hide='editing' class='album-name'><a ng-href="albums/{{album._id}}">{{album.name}}</a></span>
            <input ng-show='editing' ng-model='album.name' type="text" class="form-control input-md">
          </li>

          <li class="list-group-item">
            <h4 class='inline-header'>Artist Name:</h4>
            <span ng-hide='editing' class='artist-name'>{{album.artistName}}</span>
            <input ng-show='editing' ng-model='album.artistName' type='text' class="form-control input-md">
          </li>

          <li class="list-group-item">
            <h4 class='inline-header'>Released date:</h4>
            <span ng-hide='editing' class='album-releaseDate'>{{album.releaseDate}}</span>
            <input ng-show='editing' ng-model='album.releaseDate' type="text" class="form-control input-md">
          </li>

          <li class="list-group-item">
            <h4 class="inline-header">Genres:</h4>
            <span ng-hide='editing' class="album-genres" ng-repeat='genre in album.genres'>{{genre}}, </span>
            <input ng-show='editing' ng-model='album.genres' type="text" class="form-control input-md">
          </li>

          <li class="list-group-item">
            <h4 class="inline-header">Songs:</h4>
            <span class="list-of-songs" ng-repeat='song in album.songs'>- ({{song.trackNumber}}) {{song.name}} </span>
          </li>

          <li class="list-group-item buttons-row">
            <button class="btn btn-info" ng-hide="editing" ng-click="editing = true">Edit Album</button>
            <button class="btn btn-success" ng-show="editing" ng-click="albums.editAlbum(album); editing = false">Save Changes</button>
            <button class="btn btn-danger" ng-click="albums.deleteAlbum(album);">Delete Album</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>